{% set title = "Admin" %}
{% extends "template.html" %}

{% block container %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Author</th>
      <th>Date</th>
      <th>Content</th>
      <th>Ratings</th>
    </tr>
  </thead>
{% for content in contents %}
  <tr>
    <td>{{ loop.index }}</td>
    <td>{{ content.author }}</td>
    <td>{{ content.date }}</td>
    <td><div style="max-height: 75px; overflow-y: auto;">{{ content.content|e }}</div></td>
    <td>{{ counts[content.key.urlsafe()] }}</td>
  </tr>
  {% set outer = loop.index %}
  {% for subcontent in subcontents[content.key.urlsafe()] %}
  <tr>
    <td>{{ outer }}.{{ loop.index }}</td>
    <td>{{ subcontent.author }}</td>
    <td>{{ subcontent.date }}</td>
    <td><div style="max-height: 75px; overflow-y: auto;">{{ subcontent.content|e }}</div></td>
    <td>{{ counts[subcontent.key.urlsafe()] }}</td>
  </tr>  
  {% endfor %}  
{% endfor %}
</table>

<form role="form" class="text-right" method="post">
  <select class="form-control" name="parent">
    <option value="">No parent</option>
    {% for content in contents %}
        <option value="{{ content.key.urlsafe() }}">
            {{ loop.index }}. {{ content.date }}
            {{ content.content }}
        </option>
    {% endfor %}
  </select>
  <textarea class="form-control" rows="3" name="content"></textarea><br />
  <button type="submit" class="btn btn-primary">Add</button>
</form>

{% endblock %}