{% set title = "Annotate" %}
{% extends "template.html" %}
{% block container %}

<h1>Instructions</h1>

<div class="alert alert-info">Please read the instructions carefully before proceeding to the experiment.</div>

<ol>
<li><h5>General instructions</h5></li>
<ul>
<li>During the experiment, on each trial you will hear a very short rhythm. Listen carefully to each rhythm and try to focus on hearing the beat. </li>
<li>The beat is what you would naturally tap or dance to in music. While you may feel like moving along to some of our rhythms, we will ask you not to move along with our rhythms, while still focusing on the beat!</li>
<li>Some rhythms are very regular and easy to hear a beat in. Others are more complex and there will also be rhythms in which you will probably not be able to hear a beat at all.</li>
<li>For each rhythm, we ask you to give a rating from 1-10 of how easy you would think it would be to tap along with the beat in that rhythm. You can give your rating by clicking on the stars.</li>
<li>1 star indicates you think it would be very hard or impossible to tap along with the beat in the rhythm. 10 stars indicates you would find it easy to tap along to the beat in the rhythm. Rate each rhythm on this scale from 1 to 10.</li>
<li>Note: we ask you how easy you think it would be to tap along based on just listening to the rhythm! We do not want you to tap along!</li>
</ul>
<li><h5>Some practice!</h5></li>
<ul>
<li>Before you start, on the next screen, we will give you some examples of rhythms that could be considered to contain a very clear beat or no beat at all.</li>
<li>Listen carefully to the examples. You can listen to the examples as often as you would like and you can even try to tap along if you would like to. However, once the actual experiment starts, you will only hear every rhythm once and should not tap along to the rhythms!</li>
<li>Please use the examples to check whether the sound on your computer is working properly.</li>
</ul>
<li><h5>Some procedural things</h5></li>
<ul>
<li>We ask you to do this experiment in a quiet environment or using headphones, so you will be able to hear the rhythms properly.</li>
<li>Every few minutes a screen will appear indicating you can take a break.</li>
<li>You can make these breaks as long or short as you want, but if you take a break and do not continue the experiment within 30 minutes, your session will expire and you will have to start again to complete the experiment.</li>
<li>If you want to take a break when it is not indicated on the screen, you can do so by withholding your response after a rhythm has played. The next rhythm will only appear if you make a response. However, if possible we would like you to take breaks when indicated. If you do want to take an extra break, please remember the rating you would give the last rhythm you heard so you can give it your correct rating once you continue!</li>
<li>In total, the experiment will take up to 1 hour to complete.</li>
<li>We would very much appreciate it if you could finish the entire experiment! Thank you very much for participating.</li>
</ul>
</ol>

<div class="text-center">
    <a href="/annotate?agree=/instruction" class="btn btn-lg btn-success">
        Continue to examples 
        <i class="icon-arrow-right"></i>
    </a>
</div>
<br><br>
{% endblock %}
