{% set title = "Annotate" %}
{% extends "template.html" %}
{% block container %}

<h1>Instructions</h1>

<div class="alert alert-info">Please read the instructions carefully before proceeding to the experiment.</div>

<ol>
<li><h5>General instructions</h5></li>
<ul>
<li>The experiment consists of around 300 short trials. On each trial you will hear a very short rhythm. Listen carefully to each rhythm and try to focus on hearing the beat. </li>
<li>The beat is the steady pulse that you would naturally tap or dance to in music. We ask you to simply feel this pulse, without moving along with it. </li>
<li>Some rhythms are very regular and easy to hear a beat in, while others are more complex. There may be some rhythms in which you will not be able to hear a beat at all.</li>
<li>For each rhythm, we ask you to rate on a scale of 1-10 how hard you think it would be to tap along with the beat in that rhythm. Rate each rhythm by clicking on the stars.</li>
<li>1 star: you think it would be VERY EASY (not hard at all) to tap along with the beat.</li>
<li>10 stars: you think it would be VERY HARD to tap along to the beat.</li> 
<li>Remember: we ask you how hard you think it would be to tap along based on just listening to the rhythm! We do not want you to actually tap along!</li>
<li>Please listen to the entire rhythm before making your rating.</li>
</ul>
<li><h5>Some practice!</h5></li>
<ul>
<li>Before you start with the first trial, we will give you some example rhythms that contain a very clear beat or no beat at all.</li>
<li>Listen carefully to the examples. You can listen to each example as often as you like. However, once the actual experiment starts, you will only hear every rhythm once!</li>
<li>Please use the examples to check whether the sound on your computer is working properly.</li>
</ul>
<li><h5>Some procedural things</h5></li>
<ul>
<li>Please do this experiment in a quiet environment or using headphones, so you can hear the rhythms properly and listen to them without interference or distraction. </li>
<li>The experiment is not designed to run on mobile devices, like an iPad, iPhone or Android phone. While it may work on these devices, we prefer using a computer. </li>
<li>Every few minutes a screen will indicate that you can take a break. You can make these breaks as long or short as you want. As long as you do not close your browser, your session will stay active and you can continue the experiment whenever you want. </li>
<li>In total the experiment should take up to 1 hour to complete (depending on the length and frequency of your breaks).</li>
<li>The blocks between consecutive breaks are approximately 5 minutes long. There are 10 blocks. </li>
<li>Instead of doing the experiment in one 1 hour session, you're free to complete it in several shorter sessions. Just make sure you do not close your browser, so your session stays active. </li>
<li>We would very much appreciate it if you could finish the entire experiment, as this will give us a good idea of the difficulty of the whole range of rhythms we use.</li>
<li>Thank you very much for participating!</li>
</ul>
</ol>

<div class="text-center">
    <a href="/annotate?agree=/instruction" class="btn btn-lg btn-success">
        Continue to examples 
        <i class="icon-arrow-right"></i>
    </a>
</div>
<br><br>
{% endblock %}
