{% set title = "Annotate" %}
{% extends "template.html" %}
{% block container %}

<div class="well">
<h5>Project Title:</h5>
Inducing a beat from rhythms with different accent types and complexity

<h5>Principal Investigator:</h5>
Dr. Jessica Grahn - Department of Psychology, Brain and Mind Institute, Western University 
<br>email: jgrahn@uwo.ca

<h5>Research Investigators:</h5>
Fleur Bouwer, MSc/Mmus - Faculty of Humanities, Institute for Logic, Language and Computation, University of Amsterdam 
<br>email: bouwer@uva.nl / fbouwer@uwo.ca
<br>Dr. Conor Wild - Department of Psychology, Brain and Mind Institute; Western University
<br>email: cwild@uwo.ca
</div>

<h1>Letter of Information</h1>

<div class="alert alert-info">Please read the following letter of information carefully before proceeding to the experiment.</div>

<ol>
<li><h5>Invitation</h5> 
You are being invited to participate in this research study examining beat perception, because you expressed interest in participating in music cognition research.</li> 

<li><h5>Purpose of this letter</h5> 
The purpose of this letter of information is to provide you with information required for you to make an informed decision regarding participation in this research.</li>  

<li><h5>What is the purpose of this study?</h5> 
The purpose of this study is to examine how people can induce a beat from a musical rhythm. We want to know what features of a rhythm make this easier or harder.</li>  

<li><h5>When can you participate?</h5> 
To participate in this study your hearing must be unimpaired and you have to be 18 years or above.</li>  

<li><h5>When can you not participate?</h5> 
If you are not yet 18 years old or if your hearing is impaired you are not eligible to participate in this study.</li> 

<li><h5>What will you be asked to do?</h5> 
If you agree to participate in this experiment, you will be asked to listen to and rate some auditory rhythms. It is anticipated that the entire task will take up to 1 hour. You can complete the experiment at a time and location that is convenient to you.</li>  

<li><h5>Are there any risks related to this study?</h5> 
There are no known or anticipated risks or discomforts associated with participating in this study.</li>  

<li><h5>Are there any benefits related to this study?</h5> 
You may not directly benefit from participating in this study but information gathered might provide benefits to society as a whole, which include possible applications in musical therapy.</li>  

<li><h5>Compensation</h5> 
You will not be monetarily compensated for your participation in this research.</li> 

<li><h5>Voluntariness</h5> 
Participation in this study is voluntary. You may refuse to participate, refuse to answer any questions or withdraw from the study at any time without any consequences to you.</li> 

<li><h5>Confidentiality</h5> 
All data collected will remain confidential and accessible only to the investigators of this study. We will not ask you for any information that can identify you as a person. The results of this study may be published, but in no way that will allow you to be identified.</li>  

<li><h5>Further information</h5> 
If you require any further information regarding this research project or your participation in the study you may contact Fleur Bouwer by email on bouwer@uva.nl or fbouwer@uwo.ca or by telephone on +1-226-977-2060 (Canada) or +31-655335299 (Netherlands). You can also contact Principal Investigator Dr. Jessica Grahn at +1-519-661-2111, ext. 84804 or on jgrahn@uwo.ca. If you have any questions about your rights as a research participant or the conduct of this study, you may contact The Office of Research Ethics (519) 661-3036, email: ethics@uwo.ca.</li>  

<li><h5>Publication</h5> 
If you would like to receive a copy of any potential study results, please contact Fleur Bouwer by email on bouwer@uva.nl or fbouwer@uwo.ca.</li>  
</ol>

<h2>Consent</h2>
You have read the Letter of Information and have had the nature of the study explained to you. By clicking the button below, you agree to participate.
<br><br>

<div class="text-center">
    <a href="/annotate?agree=/introduction" class="btn btn-lg btn-success">
        I agree, continue to experiment 
        <i class="icon-arrow-right"></i>
    </a>
</div>

<br><br>
{% endblock %}
